body {
    background-image: url("http://angsila.cs.buu.ac.th/~58160640/887371/lab02/picture/b4.jpg");
    background-repeat: repeat;
}

h1 {
    background-color: #00ff00;
}

p {
    background-color: rgb(255,0,255);
}
div {
    background-color: #eee;
    width: 200px;
    height: 50px;
    border: 1px dotted black;
    overflow: visible;
}

p.italic {
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 120px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.simply{
font:14px Trebuchet MS, Tahoma;
margin: 80px;
width: 1080px;
border-collapse: initial;
text-align: center;
}
.simply th{
font:normal 16px Trebuchet MS, Tahoma;
color: #FFFF00;
background:#FF6600;
padding: 10px 8px;
border-bottom: 2px solid #ccc;
}
.simply td{
border-bottom: 1px solid #ccc;
color: #FF6600;
background: #fff;
padding: 5px;
}
.simply tbody tr:hover td{
color: #000000;
background: #CCFF66;
}






div.img {
    margin: 100%;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.img:hover {
    border:3px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: auto;
    text-align: center;
}


img {
    border-radius: 5px;
}